* {
    box-sizing: border-box;
}

header, footer {
    height: 130px;
    background: grey;
    border: 1px solid black;
    clear: both;
}

.leftSide {
    height: 500px;
    width: 20%;
    background: grey;
    border: 1px solid black;
    float: left;
}

section {
    height: 500px;
    width: 40%;
    background: grey;
    border: 1px solid black;
    float: left;
}

.rightSide {
    height: 500px;
    width: 20%;
    background: grey;
    border: 1px solid black;
    float: right;
}